@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Nova+Round&family=Ubuntu+Mono:ital@1&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Josefin Sans', sans-serif;
$font-3: 'Ubuntu Mono', monospace;

$color-1: #264653ff;
$color-2: #2a9d8fff;
$color-3: #e9c46aff;
$color-4: #f4a261ff;
$color-5: #e76f51ff;
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$min-height: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
  background-color: #f2f2f2;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
.home,
.knowledges,
.portfolio,
.contact {
  display: flex;
  @media screen and (max-width: 850px) {
    display: block !important;
  }
}

.homeContent,
.knowledgeContent,
.portfoliocontent,
.contactContent {
  margin-left: 4rem;
  @media screen and (max-width: 850px) {
    margin-left: 0 !important;
  }
}
